node_modules
.gitignore
executables/
dist/
out/
tauri/target/
tauri/gen

**/fonts/**/*.json
**/fonts/**/*.png
**/*.meshlet.json
**/*.meshlet.bin
**/*.sbvh.json
**/*.sbvh.bin
**/*.cooked.json
**/*.cooked.bin

